@media screen and (max-width:992px){
    body{
        background-color: white;
    }
    .marge{
        padding: 0%;
        align-items: center;
        margin-top: 2%;
    }


    .titre{
        width: 15%;
        padding-left: 30px;
    }
    .onglet{
        margin: 20px;
    }
    .onglet li:hover{
        border-top: white;
    }

    h1{
        font-size: 25px; 
        padding-left: 20px;
        }
    .sous-titre{
        font-size: 18px;
        padding-left: 20px;
        }


    .search-class{
        width: 100%;
        justify-content: center;
        }
    .button-search i{
        display: none;
    }


    .filtres-card{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .filtres-card h2{
        padding-left: 20px;
        }
    .titre-filtre{
        width: 100%;
    }
    .filtres{
        display: flex;
        /* flex-wrap: wrap;  */ 
    }
    .filtre{
        margin-bottom: 20px;
        width: 32%;   
     }
    .button-filtre{
        width: 100%;
    }


    .infobar{
        padding-left: 20px;
    }

    .contener-general{
        flex-direction: column-reverse;
        align-items: center;
    }


    .contener-hebergements{
        width: 95%;
        background-color: white;
    }
    .hebergement-card{
        width: 47%;
    }
    .contener-cards{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: white;
    }
    .afficher-button{
        display: flex;
        padding: 0px 0px 50px 15px;
    }
    .contener-populaire{
        width: 100%;
        border-radius: 0%;
    }


    .activite-titre{
        padding: 20px;
    }
    .contener-cards-activite{
        flex-wrap: wrap;
        padding: 20px;
    }
    .contener-sub-cards{
        width: 47%;
        min-height: 0%;
        margin-bottom: 20px;
    }
    .activite-card{
        background-color: white;
        height: 350px;
        width: 47%;
        margin-bottom: 20px;
    }
    .big{
        height: 85%;
    }
    .activite-sub-card{
        background-color: white;
    }
    .medium{
        width: 100%;
        height: 100px;
    }
    .small{
        width: 100%;
        height: 100px;  
    }
    .ultra-small{
        width: 100%;
        height: 100px;
    }


    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 35px;
    }



}







@media screen and (max-width:767px){
    body{
        background-color: white;
    }
    header{
        display: flex;
        flex-direction: column   
    }


    .marge{
        align-items: center;
        padding: 0%;
        margin: 0% 0% 0% -2%;
    }

    header nav{
        width: 100%;
    }
    .titre{
        display: flex;
        padding: 30px;
        width: 30%;
    }
    .onglet{
        justify-content: space-around;
        margin: 0%;
        padding-left: 0%;
    }
    .onglet li{
        width: 50%;
        margin: 0%;
        padding-left: 0%;
        text-align: center;
        border-bottom: 2px solid #fcfcfc;
        padding-bottom: 8%;
    }
    .onglet li:hover{
        border-bottom: 2px solid #0065fc;
    }
    .button-onglet{
        font-size: 20px;
        /* margin: 0px 80px 0px 0px; */
    }


    h1{
        display: flex;
        justify-content: center;
        width: 95%;
        }
    .sous-titre{
        display: flex;
        justify-content: center;
        width: 95%;
        font-size: 20px;
    }
    .button-search span{
        display: none;
    }


    .search-class{
        justify-content: center;
        padding: 5%;
        width: auto;
    }
    .button-search{
        width: 20%;
    }
    .button-search i{
        display: block;
    }
    
    .filtres-card{
        display: flex;
        flex-direction: column;
    }
    .titre-filtre{
        display: flex;
        justify-content: center;
    }
    .filtres{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3%;  
        display: flex;
        align-items: center;
        width: 100%;
    }
    .filtre{
        margin-bottom: 20px;
        width: 60%;
    }
    .button-filtre{
        justify-content: flex-start;
        width: 90%;
    }
    .button-filtre span{
        margin-right: 0px;
    }
    .first{
        width: 50%;
    }
    .second{
        width: 45%;
    }
    .last{
        width: 90%;
    }


    .infobar p{
        padding: 3%;
    }


    .contener-general{
        flex-direction: column-reverse;
    }


    .infobar{
        width: 95%;
    }
    .infobar i{
        width: 32px;
        height: 32px;
    }
    

    .contener-general{
        display: flex;
        align-items: center;
    }

    .contener-populaire{
        border-radius: 0%;
    }
    .popular-title{
        font-size: 20px;
    }
    .popular-card-content{
        font-size: 20px;
    }
    .popular-card img{
        height: 240px;
        min-height: 240px;
    }
    .contener-populaire-cards {
        margin-bottom: -15%;
    }


    .contener-hebergements{
        background-color: #ffff;
        flex-direction: row;
        border-radius: 0%;
        margin-bottom: -20%;
    }
    .contener-hebergements h2{
        margin: 5% 0% 0% 5%;
    }
    .contener-cards{
        background-color: #ffff;
        flex-direction: column;
        align-content: center;
    }
    .hebergement-card{
        width: 105%;
        margin: 0% 0% 5% 1%;
    }
    .afficher-button{
        visibility: hidden;
    }


    .contener-cards-activite{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
        align-items: center;
    }
    .activite-titre{
        padding: 0% 75% 0% 8%;
    }
    .activite-card{
        width: 90%;
        height: 250px;
    }
    .contener-sub-cards{
        width: 90%;
        align-items: center;
        min-height: 0px;
    }  
    .activite-sub-card{
        width: 100%;
        margin-top: 20px;
     }
    .big{
        width: 100%;
        height: 200px;
    }
    .ultra-small {
        margin-bottom: 1%;
        height: 200px;
    }
    .small, .medium{
        height: 200px;
    }
    

    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 35px;
    }
}

