@media screen and (max-width:992px){
    body{
        background-color: white;
    }
    .marge{
        padding: 0%;
        align-items: center;
        margin-top: 2%;
    }


    .titre{
        width: 15%;
        padding-left: 5px;
    }
    .onglet{
        margin: 20px;
    }
    .onglet li:hover{
        border-top: white;
    }
    .onglet li{
        padding-top: 0%;
    }


    h1{
        font-size: 25px; 
        padding-left: 20px;
        }
    .sous-titre{
        font-size: 18px;
        padding-left: 20px;
        }


    .search-class{
        margin-left: 20px;
        margin-right: 0px;
    }
    .button-search i{
        display: none;
    }
    .search{
        width: 250px;
    }


    .filtres-card{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .filtres-card h2{
        padding-left: 20px;
        }
    .titre-filtre{
        width: 100%;
    }
    .filtres{
        display: flex;
        /* flex-wrap: wrap;  */ 
    }
    .filtre{
        width: 32%;   
     }
    .button-filtre{
        width: 100%;
    }


    .infobar{
        padding-left: 20px;
        margin-top: 5px;
    }

    .contener-general{
        flex-direction: column-reverse;
        align-items: center;
    }


    .contener-populaire{
        width: 100%;
        border-radius: 0%;
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .popular-card-content{
        font-size: 15px;
        margin-left: 20px;
    }
    .popular-card{
        margin-bottom: 10px;
    }
    .popular-card img{
        height: 160px;
        min-height: 160px;
    }
    .popular-card .stars{
        margin-top: -35px;
    }


    .hebergement-title{
        margin-left: 10px;
        margin-top: 0px;
    }
    .contener-hebergements{
        width: 95%;
        background-color: white;
    }
    .hebergement-card{
        width: 48%;
        height: 250px;
    }
    .contener-cards{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: white;
        padding: 0px 10px 0px 10px;
    }
    .afficher-button{
        display: flex;
        padding: 0px 0px 50px 15px;
    }
    .hebergement-card img{
        height: 120px;
        min-height: 140px;
    }
    .contener-card-center{
        margin: -20px 0px 0px 15px;
        padding: 0px;
    }
    .afficher-button h3{
        margin: 0px;
    }


    .activite-titre{
        padding: 20px 0px 0px 30px;
    }
    .contener-cards-activite{
        flex-wrap: wrap;
        padding: 10px 30px 0px 30px;
        margin-bottom: 20px;
    }
    .contener-sub-cards{
        width: 47%;
        min-height: 0%;
        margin-bottom: 20px;
    }
    .activite-card{
        background-color: white;
        height: 350px;
        width: 50%;
        margin-bottom: 20px;
    }
    .big{
        height: 85%;
    }
    .activite-sub-card{
        background-color: white;
    }
    .medium{
        width: 100%;
        height: 100px;
    }
    .small{
        width: 100%;
        height: 100px;  
    }
    .ultra-small{
        width: 100%;
        height: 100px;
    }


    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 35px;
    }



}







@media screen and (max-width:767px){
    body{
        background-color: white;
    }
    header{
        display: flex;
        flex-direction: column   
    }


    .marge{
        align-items: center;
        padding: 0%;
        margin: 0% 0% 0% -2%;
    }

    header nav{
        width: 100%;
    }
    h1{
        margin-top: 30px;
        margin-bottom: 22px;
        margin-left: 10px;
    }
    .titre{
        display: flex;
        padding: 25px 0px 0px 0px;
        width: 30%;
        margin-left: 0px;
    }
    .titre img{
        display: flex;
        justify-content: center
    }
    .onglet{
        justify-content: space-around;
        margin: 0%;
        padding-left: 0%;
    }
    .onglet li{
        width: 50%;
        margin: 0%;
        padding-left: 0%;
        text-align: center;
        border-bottom: 2px solid #d9d9d9;
        padding-bottom: 3%;
        padding-top: 30px;
    }
    .onglet li:hover{
        border-bottom: 2px solid #0065fc;
    }
    .button-onglet{
        font-size: 20px;
        /* margin: 0px 80px 0px 0px; */
    }


    h1{
        display: flex;
        justify-content: center;
        width: 80%;
        }
    .sous-titre{
        display: flex;
        width: 80%;
        font-size: 18px;
        margin-left: 10px;
    }
    .button-search span{
        display: none;
    }


    .search-class{
        justify-content: center;
        width: 90%;
        margin-left: 20px;
    }
    .button-search{
        width: 15%;
        border-radius: 15px;
        margin: 0px 20px 0px -40px;
    }
    .button-search i{
        display: block;
    }
    
    .filtres-card{
        display: flex;
        flex-direction: column;
        width: 88%;
        margin-left: 10px;
    }
    .titre-filtre{
        display: flex;
        justify-content: flex-start;
    }
    .filtres{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3%;  
        display: flex;
        align-items: center;
        width: 100%;
    }
    .filtre{
        margin-bottom: 0px;
        width: 60%;
    }
    .button-filtre{
        justify-content: flex-start;
        width: 90%;
    }
    .button-filtre span{
        margin-right: 0px;
    }
    .first{
        width: 50%;
    }
    .second{
        width: 45%;
    }
    .last{
        width: 73%;
    }


    .infobar{
        width: 90%;
    }
    .infobar p{
        padding: 3%;
    } 
   .infobar{
        width: 90%;
        margin-bottom: 25px;
        margin-left: 10px;
    }
    .infobar i{
        width: 34px;
        height: 30px;
    }


    .contener-general{
        flex-direction: column-reverse;
    }


    .contener-general{
        display: flex;
        align-items: center;
    }

    .contener-populaire{
        border-radius: 0%;
        margin-bottom: 0%;
    }
    .popular-title{
        font-size: 15px;
    }
    .popular-card-content{
        margin-left: 15px;
        font-size: 16px;
        gap: 8%;
    }
    .popular-card img{
        height: 60px;
        min-height: 160px;
    }
    .contener-populaire-cards{
        margin-bottom: 10%;
    }
    .popular-card{
        margin-bottom: 5px;
    }
    .popular-card .stars{
        margin: 0px;
    }


    .contener-hebergements{
        background-color: #ffff;
        flex-direction: row;
        border-radius: 0%;
        margin-bottom: 15%;
        margin-top: 5%;
    }
    .contener-hebergements h2{
        margin: 5% 0% 3% 5%;
    }
    .contener-cards{
        background-color: #ffff;
        flex-direction: column;
        align-content: center;
    }
    .hebergement-card{
        width: 95%;
        height: 205px;
        margin: 0% 0% 5% 1%;
    }
    .afficher-button{
        font-size: 110%;
        padding: 10px 0px 60px 5px;
    }
    .hebergement-card img{
        height: 60px;
        min-height: 110px;
    }
    .hebergement-card h3{
        margin: 0% 0% -3% 0%;
    }
    .contener-card-center{
        margin: 0px 0px 0px 15px;
    }
    .afficher-button h3{
        margin-left: 15px;
    }


    .contener-cards-activite{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
        align-items: center;
        margin-bottom: 20px;
    }
    .activite-titre{
        padding: 0% 0% 0% 7%;
    }
    .activite-card{
        width: 100%;
        height: 180px;
        margin-bottom: 2px;
    }
    .contener-sub-cards{
        width: 100%;
        align-items: center;
        min-height: 0px;
    }  
    .activite-sub-card{
        width: 100%;
        margin-top: 20px;
     }
    .big{
        width: 100%;
        height: 60px;
        min-height: 120px;
    }
    .ultra-small {
        margin-bottom: 1%;
        height: 60px;
        min-height: 120px;
    }
    .small, .medium{
        height: 60px;
        min-height: 120px;
    }
    

    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 0px;
    }
}

