h1,h2,h3,p,a, span{
    font-family: "Raleway",sans-serif;
}

.marge{
    padding: 0px 40px 40px 40px;}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0%;
}
.titre{
    width: 10%;
    margin-left: -35px;
}



.onglet{
    display: flex;
    align-items: flex-start;
    list-style: none;
}
.onglet li{
    border-top: 2px solid white;
    padding-top: 2%;
    text-align: center;
    width: 140px;
    padding-top: 12%;
}
.onglet a{
    color: black;
    text-decoration: none;
}
.onglet li:hover{
    border-top: 2px solid #0065fc;
}
.button-onglet:hover{
    color: #0065FC;
}





.search-class{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px;
    border: 1px ;
}
.fa-location-dot{
    width: 50px;
    height: 49px;
    border: 2px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
}
.search-class i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search{
    width: 332px;
    height: 49px;
    border: 1px solid #f2f2f2;
}
::placeholder{
    opacity: 1;
    font-family: "Raleway",sans-serif;
}
.button-search{
    width: 132px;
    height: 53px;
    background-color: #0065FC;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border-radius: 0px 15px 15px 0px;
    color: white;
    border: none;
    font-family: "Raleway",sans-serif;
}
.button-search i{
    display: none;
}


.filtres-card{
    display: flex;
    align-items: center;
}
.filtres-card h2{
    margin: 2% 3% 0% 0%;}
.filtres{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    margin-top: 39px;
}
.button-filtre i{
    background-color: #dfecff;
    color: #0065FC;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-left: -5px;
}
.button-filtre{
    gap: 10%;
    border: 1px solid #f2f2f2;
    border-radius: 30px 30px 30px 30px;
    width: 226px;
    height: 54px;  
    background-color: white; 
    color: black;
    display: flex;
    align-items: center;
}
.button-filtre span{
    display: flex;
    align-items: center;
}
.button-filtre:hover{
    background-color: #dfecff;
}
.filtre{
    margin-top: 20px;
}



.infobar{
    margin-top: 39px;
    width: 447px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px
}
.infobar i{
    color: #0065fc;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 40px;
}


.contener-general{
    display: flex;
    justify-content: space-between;
}
.contener-hebergements{
    width: 64%;
    /* height: 626px;  */
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-top: 39px;
    margin-bottom: 3%;
}
.hebergement-title{
    margin-top: 40px;
    margin-left: 40px;
}
.contener-cards{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}
.hebergement-card {
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    border: 1px solid #fcfcfc;
    border-radius: 10px;
    width: 30%;
    background-color: #fcfcfc;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    -webkit-box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.21); 
    box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.21);
}
.contener-card-center{
    padding: 0px 20px 20px 10px;
}
.hebergement-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.fa-star{
    color: #0065FC;  
}
.star-grey{
    color: #f2f2f2;
}
.afficher-button h3{
    margin: 3% 0% 0% 4%;
    color: black;
}
.afficher-button{
    text-decoration: none;
}


.contener-populaire{
    width: 34%;
    /* height: 626px; */
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-top: 39px;
    margin-bottom: 3%;
}
.popular-title{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: 37px;
    margin-right: 37px;
}
.popular-title i{
    color: black;
    
}
.contener-populaire-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px 100px 0px;
}
.popular-card{
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
    border: 2px solid #fcfcfc;
    border-radius: 10px;
    background-color: #fcfcfc;
    display: flex;
    -webkit-box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.21); 
    box-shadow: 5px 5px 12px 2px rgba(0,0,0,0.21);
    margin: 10px 33px 37px 33px;
    padding: 1%;
}
.popular-card img{
    width: 40%;
    max-width: 40%;
    min-width: 40%;
    height: 200px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
}
.popular-card-content{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.contener-cards-activite{
    display: flex;
    justify-content: space-between ;
}
.activite-card{
    width: 24%;
    display: block;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.51); 
    box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.51);
    text-decoration: none;
}
.activite-card h3,.activite-sub-card h3{
    margin-left: 20px;
}
.activite-sub-card{
    width: 100%;
    display: block;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.51); 
    box-shadow: 5px 5px 10px -1px rgba(0,0,0,0.51);
    text-decoration: none;
}
.big{
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.medium{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.small{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.ultra-small{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.contener-sub-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 550px;
    width: 24%;
}



footer{
    display : flex;
    background-color: #f2f2f2;
    padding: 30px 0px 0px 0px;
    gap: 400px;
}
footer h3{
    padding-left: 40px;
}
footer ul{
    list-style: none;
}
footer a{
    color: black;
    text-decoration: none;
}